[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
[Bb]uild/
[Bb]uilds/

# Visual Studio cache
.vs/
*.csproj
*.sln
*.user
*.unityproj

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db
